DB_URL=jdbc:mysql://localhost:3306/blog?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=root
DB_PASSWORD=your_mysql_password
JWT_SECRET=please_replace_with_a_long_random_secret_at_least_32_chars
JWT_ACCESS_EXPIRE_MS=1800000
JWT_REFRESH_EXPIRE_MS=1209600000
APP_UPLOAD_DIR=/Users/yuanqi/devTools/img
SPRING_PROFILES_ACTIVE=local
